body{
    margin: 0;
    overflow-x: hidden;
}
#page_home{
    width: 100vw;
    height: 100vh;
    position: relative;
}
#logo{
    display: flex;

}
header{
    width: 100vw;
    height: 72px;
    background: #263640;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header h1{
    margin-left: 0.5vw;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
nav a {
    text-decoration: none;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-right: 1vw;
    position: relative;
}
nav a:before{
    content: '';
    position: absolute;
    left: 0; bottom: -5px;
    width: 0;
    height: 1.5px;
    background: #38505e
}
nav a:hover:before {
    width: 100%;
}
nav a::before{
    transition: 0.5s;
}
button{
    border-radius: 5px;
    background: #566a77;
    width: 149px;
    height: 41px;
    border: 1px solid #2f4248;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}
button:hover{
    background: #7591A3;
    border: 1px solid #182225;
    transition: 1s;
    color: #ffffff;
}
#page_main {
    width: 100vw;
    height: 93vh;
    display: flex;
}
#tittle{
    width: 25.6vw;
    height: 90.2vh;
    background-color: #E4E3E8;
}
#background_img{
    background-image: url("img/background.png");
    width: 74.4vw;
    height: 90.2vh;
    background-size: cover;
}
#tittle h2{
    color: #263640;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 500;
    width: 608px;
    position: absolute;
    left: 135px;
    top: 119px;
}
#tittle p{
    color: #7591A3;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 427px;
    position: absolute;
    left: 135px;
    top: 402px;
}
#years{
    color: #263640;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
#work{
    border-radius: 5px;
    background: #263640;
    width: 246px;
    height: 67px;
    position: absolute;
    bottom: 86px;
    left:135px;
}
#work:hover{
    background: #3e5869;
    transition: 1s;
}
#client_static{
    width: 100vw;
    height: 110vh;
}
#static{
    width: 90vw;
    height: 35vh;
    display: flex;
    padding: 152px 0 0 134px;
}
#tittle_static{

    width: 50vw;
    height: 30vh;
}
#tittle_static h3{
    margin: 0;
    color: #263640;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    width: 30vw;
}
#tittle_static p{
    color: #263640;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.clients_img {
    display: flex;
    flex-direction: column;
}
.clients_img img {
    margin: 20px 0 9px 45px;
}
.clients_text{
    display: flex;
    flex-direction: column;
}
.clients_text h5{
    color: #263640;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 600;
    margin: 15px 0 0 30px;
}
.clients_text p{
    color: #263640;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0 0 10px 30px;
}
#tittle_client h5{
    color: #263640;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin-top: 10vh;
}
.client_box{
    height: 110px;
    width: 234px;
    border-radius: 5px;
    border: 1px solid #F9F9F9;
    background: #FFF;
    box-shadow: -40px 40px 70px 0 rgba(25, 25, 25, 0.04);
    margin: 0 78px;
    display: flex;
}
#list_client{
    display: flex;
    justify-content: center;
}
.client_img{
   margin: 37px 0 0 33px;
}
.client_box p{
    color: #263640;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 12.6px;
    margin: 42px 0 0 15px;
}
.client_box:hover{
    box-shadow:  -4px 1px 10px 10px rgba(25, 25, 25, 0.1);
    transition: 1s;
}
#country{
    height: 100vh;
    width: 100vw;
}
#list_country{
    display: flex;
    justify-content: space-around;
}
.country{
    flex-direction: column;
    width: 50vh;
    margin-top: 30px;
}
.country img{
    width: 312px;
    height: 333px;
}
.country h5{
    color: #263640;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.country p{
    font-family: 'Poppins', sans-serif;
    color: #929A9F;
    font-size: 16px;
    font-weight: 400;
    width: 37vh;
}
.country a{
    color: #F90;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    margin-top: 0;
}
.link img{
    width: 7.41px;
    height: 12px;
    padding-top: 3px;
    margin-left: 10px;
}
.link{
    display: flex;
    align-items: center;
}
.country a:hover{
    color: #e38901;
    transition: 1s;
}
#main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#main h5{
    color: #263640;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    margin: 0;
}
#main p{
    color: #263640;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
}
#words{
    width: 100vw;
    height: 110vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #E6F0F4;
}
#words h5{
    color: #263640;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    padding-top: 77px;
}
#words div{
    width: 843px;
    height: 247px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #ffffff;
}
#words div p{
    color: #263640;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 750px;
}
#footer_main{
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner{
    display: flex;
    background: linear-gradient(180deg, #B3BECD 0%, #C1CCDB 100%);
    height: 288px;
    border-radius: 10px;
}
#banner_text h5{
    color: #263640;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    margin: 0;
}
#banner_text{
    position: absolute;
    left: 700px;
    padding: -200px;
    margin-top: 70px;

}
#email{
    height: 52px;
    width: 248px;
    margin-top: 20px;
    padding-left: 20px;
    border: none;
    border-radius: 5px 0 0 5px;
}
#input_email button{
    display: inline-flex;
    padding: 14px 24px;
    align-items: center;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0 5px 5px 0;
    border: none;
    background: #263640;
    height: 54px;
    width: 156px;
    position: relative;
    left: -3px;
}
footer{
    height:5vh;
    width: 100vw;

}
#information{
    height: 25vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: #263640;
}
#logo_information{
    display: flex;
    margin-left: 135px;
    margin-top: 20px;
}
#logo_information h2{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 0 7px;
}
#nav_dow{
    margin: 15px 0 0 115px;
}
#nav_ab{
    margin: 10px 0 0 115px;
}
#nav_dow a{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    padding: 24px;
}
#nav_ab a{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    padding: 24px;
}
#information p{
    color: #D9DBE1;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-left: 135px;
}
#information p:hover{
    color: #FFF;
    transition: 1s;
}

}




